@import url('https://fonts.googleapis.com/css?family=Nunito:wht@400;700&display=swap');

.btn:hover {
    background: #333;
}

.slide-container {
    display: none;
}

.slide-container.active {
    display: block;
}

.slide-container:nth-child(1) .slide {
    background: linear-gradient(90deg, #f9f9f9 70%, #ffff99 30.1%);
}

.slide-container:nth-child(2) .slide {
    background: linear-gradient(90deg, #f9f9f9 70%, #ff9090 30.1%);
}

.slide-container:nth-child(3) .slide {
    background: linear-gradient(90deg, #f9f9f9 70%, #99bbff 30.1%);
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: #333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

#prev:hover,
#next:hover {
    background: #666;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

@media (max-width: 768px) {
    #prev {
        left: 0px;
        top: 60%;
    }

    #next {
        right: 0px;
    }
}