@import url('https://fonts.googleapis.com/css?family=Nunito:wht@400;700&display=swap');

#prev,
#next {
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}

#prev:hover,
#next:hover {
    background: #666;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

@media (max-width: 768px) {
    #prev {
        left: 0px;
        top: 60%;
    }

    #next {
        right: 0px;
    }
}